
<div class="promoted-properties">
  <div class="promoted-property" *ngFor="let property of promotedRealEstates">
    <mat-card class="promoted-property-card">
        <mat-card-header>
            <mat-card-title>{{property.name}}, {{property.price}}€</mat-card-title>
            <mat-card-subtitle>{{property.municipality}}, {{property.city}}</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage  [src]="property.randomImageLink">
        <mat-card-content>
          <p mat-line>Category: {{property.category}}</p>
          <p mat-line>Room no: {{property.room_no}}</p>
          <p mat-line>Area: {{property.area+"m\u00B2"}}</p>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="goToProperty(property._id)">View details</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="search">
  <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header>
          <mat-panel-title>Search parameters</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="searchForm">
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select formControlName="city" placeholder="">
              <mat-option *ngFor="let city of citiesSet" [value]="city">{{city}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Min price</mat-label>
          <input matInput type="text" placeholder="Min price in €"  name="price" formControlName="minPrice">
          <p matSuffix>{{"€"}}</p>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Max price</mat-label>
          <input matInput type="text" placeholder="Max price in €"  name="price" formControlName="maxPrice">
          <p matSuffix>{{"€"}}</p>
        </mat-form-field>
      </form>

      <mat-action-row>
        <button mat-button color="primary" (click)="search()">Search</button>
      </mat-action-row>
  </mat-expansion-panel>
</div>
<div class="unpromoted-properties">
  <div class="unpromoted-property" *ngFor="let property of searchedRealEstates; let lastItem = last">
    <mat-card class="unpromoted-property-card">
        <mat-card-header>
            <mat-card-title>{{property.name}}, {{property.price}}€</mat-card-title>
            <mat-card-subtitle>{{property.municipality}}, {{property.city}}</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage  [src]="property.randomImageLink">
        <mat-card-content>
          <p mat-line>Category: {{property.category}}</p>
          <p mat-line>Room number: {{property.room_no}}</p>
          <p mat-line>Area: {{property.area+"m\u00B2"}}</p>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="goToProperty(property._id)">Pogledaj detalje</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>

<!--
  <button mat-raised-button (click)="test()">Test</button>
-->


<!--
  <mat-list >
    <div *ngFor="let realEstate of realEstates; let lastItem = last;">
      <mat-list-item>
        <mat-icon mat-list-icon *ngIf="realEstate.type === 0">apartment</mat-icon><mat-icon mat-list-icon *ngIf="realEstate.type === 1">house</mat-icon>
        <mat-icon mat-list-icon>{{icon[realEstate.type]}}</mat-icon>
        <h1 mat-line>{{realEstate.name}}</h1>
        <p mat-line>Cena: {{realEstate.price}}</p>
        <p mat-line>Adresa: {{realEstate.address}}</p>
        <button mat-raised-button (click)="goToProperty(realEstate._id)">Go to property</button>
      </mat-list-item>
      <mat-divider *ngIf="!lastItem"></mat-divider>
    </div>
  </mat-list>
-->