/*.mat-list-item-icon{
  padding-right: 2rem;
}
*/
.search{
  padding: 16px;
}

.promoted-properties{
  padding: 16px;
}
.promoted-property{
  padding: 16px;
}

.promoted-property-card{
  width: 400px;
}


.unpromoted-properties{
  padding: 16px;
}
.unpromoted-property{
  padding: 16px;
}

.unpromoted-property-card{
  width: 400px;
}