.login-div{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.login-form{
  min-width: 150px;
  max-width: 350px;
  width: 80%;
}

.login-form-field{
  width: 100%;
  padding-bottom: 3rem;
}
