<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item (click)="loggedIn=false;" routerLink="">Log out</button>
</mat-menu>
<mat-toolbar color="primary">
  <span><button mat-button disableRipple routerLink="">
    Agencija
  </button>
  </span>
  <span class="toolbar-spacer"></span>
  <button *ngIf="loggedIn" mat-icon-button>
    <mat-icon>question_answer</mat-icon>
  </button>
  <button *ngIf="loggedIn" mat-icon-button [mat-menu-trigger-for]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <button class="raised-button" *ngIf="!loggedIn" mat-flat-button (click)="loggedIn=true" routerLink="login">Log In</button>
  <button class="raised-button" *ngIf="!loggedIn" mat-flat-button>Register</button>
</mat-toolbar>
<router-outlet></router-outlet>
