<div class="add-property-div">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Add a property</mat-card-title>
      </mat-card-header>
      <form [formGroup]="addPropertyForm" class="add-property-form">
        
        <mat-form-field class="add-property-form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Short description of the property"  name="name" formControlName="name">
        </mat-form-field>
        
        <mat-form-field class="add-property-form-field">
          <mat-label>City</mat-label>
          <input matInput type="text" placeholder="City name"  name="city" formControlName="city">
        </mat-form-field>
        
        <mat-form-field class="add-property-form-field">
          <mat-label>Municipality</mat-label>
          <input matInput type="text" placeholder="Municipality name"  name="municipality" formControlName="municipality">
        </mat-form-field>
        
        <mat-form-field class="add-property-form-field">
          <mat-label>Street</mat-label>
          <input matInput type="text" placeholder="Street name"  name="street" formControlName="street">
        </mat-form-field>
        
        <mat-form-field class="add-property-form-field">
          <mat-label>Street no.</mat-label>
          <input matInput type="text" placeholder="The street (and appartment) number"  name="street_no" formControlName="street_no">
        </mat-form-field>

        <mat-form-field class="add-property-form-field">
          <mat-label>Property category</mat-label>
          <mat-select formControlName="category">
              <mat-option *ngFor="let type of propertyCategory | keyvalue" [value]="type.value">{{type.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="add-property-form-field">
          <mat-label>Area</mat-label>
          <input matInput type="text" placeholder="Area of the property"  name="area" formControlName="area">
          <p matSuffix>{{"m\u00B2"}}</p>
        </mat-form-field>

        <mat-form-field class="add-property-form-field">
          <mat-label>Furnishing</mat-label>
          <mat-select formControlName="furnished">
              <mat-option *ngFor="let type of furnished | keyvalue" [value]="type.value">{{type.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="add-property-form-field">
          <mat-label>Floor</mat-label>
          <input matInput type="text" placeholder="Number of floors and the floor the property is on"  name="floor" formControlName="floor">
        </mat-form-field>

        <mat-form-field class="add-property-form-field">
          <mat-label>Room no.</mat-label>
          <input matInput type="text" placeholder="Number of rooms"  name="room_no" formControlName="room_no">
        </mat-form-field>

        <mat-form-field class="add-property-form-field">
          <mat-label>Price</mat-label>
          <input matInput type="text" placeholder="Price in €"  name="price" formControlName="price">
          <p matSuffix>{{"€"}}</p>
        </mat-form-field>

        <mat-form-field class="add-property-form-field">
          <mat-label>Sale</mat-label>
          <mat-select formControlName="sale">
              <mat-option *ngFor="let type of sale | keyvalue" [value]="type.value">{{type.value}}</mat-option>
          </mat-select>
        </mat-form-field>
  
  
        <input [hidden]="true" id="input-file-id" type="file" (change)="onFilesSelected($event)" multiple/>
        <label for="input-file-id" class="media-input-label"><button color=accent mat-raised-button class="media-input-button">
          Add media
        </button></label>
        
        <mat-error *ngIf="addPropertyForm.controls.media.hasError('propertyMinAmmount')"></mat-error>
        
        <button mat-raised-button [disabled]="!addPropertyForm.valid" (click)="addProperty()">Add property</button>
  
      </form>
    </mat-card>
  
        <!--<button mat-raised-button (click)="register()">Register</button>-->
    </div>
    