<div class="register-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register user</mat-card-title>
    </mat-card-header>
    <form [formGroup]="registerForm" class="register-form">
      <mat-form-field class="register-form-field">
        <mat-label>E-mail</mat-label>
        <input matInput type="text" placeholder="ex. pera@email.com"  name="username" formControlName="email">
        <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerForm.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.controls.email.hasError('emailUsed') &&!registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
          Email in use
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="register-form-field" [ngClass]="{'register-form-field-password':registerForm.controls.password.hasError('pattern')}">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password"  formControlName="password">
        <!--pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,24}$"-->
        <mat-error *ngIf="registerForm.controls.password.hasError('pattern') && !registerForm.controls.password.hasError('required')">
          Password has to contain one uperrcase, one lowercase, one number, one symbol, between 8-24 characters and no more than 2 repeating characters
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="register-form-field">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder=""  name="username" formControlName="username">
        <mat-error *ngIf="registerForm.controls.username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="register-form-field">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder=""  name="firstname" formControlName="firstName">
        <mat-error *ngIf="registerForm.controls.firstName.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="register-form-field">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder=""  name="lastname" formControlName="lastName">
        <mat-error *ngIf="registerForm.controls.lastName.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="register-form-field">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder=""  name="city" formControlName="city">
        <mat-error *ngIf="registerForm.controls.city.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="register-form-field">
        <mat-label>Country</mat-label>
        <input matInput type="text" placeholder=""  name="country" formControlName="country">
        <mat-error *ngIf="registerForm.controls.country.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="register-form-field">
        <mat-label>User type</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of usertype | keyvalue" [value]="type.value">{{type.value}}</mat-option>
        </mat-select>
      </mat-form-field>



      <input [hidden]="true" id="input-file-id" type="file" (change)="onFileSelect($event)"/>
      <label for="input-file-id" class="profile-file-input-label"><button color=accent mat-raised-button class="profile-file-input-button">
        Add profile picture
      </button></label>
      
      <!--<mat-form-field class="register-form-field">
        <mat-label>Submit</mat-label>
        <input matInput type="submit">
      </mat-form-field>-->
      <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()">Register</button>

    </form>
  </mat-card>

      <!--<button mat-raised-button (click)="register()">Register</button>-->
  </div>
  