
<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{property.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{property.municipality}}, {{property.city}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-carousel
            timings="250ms ease-in"
            [autoplay]="true"
            interval="5000"
            color="accent"
            maxWidth="450px"
            proportion="100"
            [slides]="property.gallery.length"
            [loop]="true"
            [hideArrows]="false"
            [hideIndicators]="false"
            [useKeyboard]="true"
            [useMouseWheel]="false"
            orientation="ltr">
            <mat-carousel-slide 
                *ngFor="let image of property.gallery" 
                [image]="uri+image">
            </mat-carousel-slide>
        </mat-carousel>
        <br>
        <p mat-line>Address: {{property.street}}, {{property.street_no}}</p>
        <p mat-line>Category: {{property.category}}</p>
        <p mat-line>Area: {{property.area+" m\u00B2"}}</p>
        <p mat-line>Floor: {{property.floor}}</p>
        <p mat-line>Room number: {{property.room_no}}</p>
        <p mat-line>For {{property.sale}}</p>
        <p mat-line>Price: {{property.price}} + </p>
        <div *ngIf="!isOwner()">
            <mat-form-field>
                <input matInput type="number" placeholder="Offer for the owner" [(ngModel)]="ammount">
            </mat-form-field>
            <button mat-button (click)="sendOffer()">Send Offer</button>
        </div>
    </mat-card-content>
    
</mat-card>