
<mat-tab-group mat-align-tabs="center" [disableRipple]="false">
    <mat-tab label="Unapproved Properties">
        <div class="unApprovedPropertiesDiv">
            <mat-list>
                <div mat-subheader>Unapproved properties</div>
                <mat-list-item *ngFor="let property of unApprovedProperties; let lastItem = last;">
                    <mat-icon matListIcon class="mat-18">person</mat-icon>
                    <h1 mat-line>{{property.name}}</h1>
                    <p mat-line>{{property.price}}</p>
                    <p mat-line>{{property.owner}}</p>
                    <button mat-icon-button (click)="approveProperty(property._id)">
                        <mat-icon class="mat-24">done</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteUnapprovedProperty(property._id)">
                        <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                    <mat-divider *ngIf="!lastItem"></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab label="Approved Properties">
        <div class="ApprovedPropertiesDiv">
            <mat-list>
                <div mat-subheader>Unpromoted properties</div>
                <mat-list-item *ngFor="let property of unpromotedProperties; let lastItem = last;">
                    <mat-icon matListIcon class="mat-18">person</mat-icon>
                    <h1 mat-line>{{property.name}}</h1>
                    <p mat-line>{{property.price}}</p>
                    <p mat-line>{{property.owner}}</p>
                    <button mat-icon-button (click)="promoteProperty(property._id)">
                        <mat-icon class="mat-24">star</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deletePromotedProperty(property._id)">
                        <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                    <mat-divider *ngIf="!lastItem"></mat-divider>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <div mat-subheader>Promoted properties</div>
                <mat-list-item *ngFor="let property of promotedProperties; let lastItem = last;">
                    <mat-icon matListIcon class="mat-18">person</mat-icon>
                    <h1 mat-line>{{property.name}}</h1>
                    <p mat-line>{{property.price}}</p>
                    <p mat-line>{{property.owner}}</p>
                    <button mat-icon-button (click)="unpromoteProperty(property._id)">
                        <mat-icon class="mat-24">star_border</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteUnpromotedProperty(property._id)">
                        <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                    <mat-divider *ngIf="!lastItem"></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab label="Stats">
        <div class="cityStats" >
            <!--
                *ngFor="let city of citiesSet"
                [labels]="barChartLabels[city]"
                [city]"
                [plugins]="barChartPlugins[city]"
                
                
            -->
            <canvas baseChart
                [options]="barChartOptions"
                [datasets]="cityBarChartData"
                [legend]="true"
                [chartType]="'bar'">
            </canvas>
        </div>
    </mat-tab>
</mat-tab-group>